/* header part start */
#nav {
  height: 92px;
  background-color: #1c1e53;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav_main {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.nav_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
}
.nav_menu ul li:hover a {
  color: #fff;
}

.nav_menu ul li:last-child a {
  padding: 16px 48px;
  border: 4px solid rgba(244, 246, 252, 0.203);
  border-radius: 41px;
  margin-left: 16px;
}
/* header part end */
